* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
  font-size: 16px;
  text-align: left;
  background-color: #1c2228;
  color: #f7fff7;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

a {
  color: #44a4cd;
}

a:hover {
  color: #7ad2f8;
}

p {
  text-align: justify;
}

.box-shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container {
  padding: 30px;
}
