<h2>Latest Orders</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Customers</th>
      <th>Total</th>
      <th>Placed</th>
      <th>Completed</th>
      <!-- <th>Status</th> -->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td>{{ order.customer.name }}</td>
      <td>{{ order.total }}</td>
      <td>{{ order.placed | date: "short" }}</td>
      <td>{{ order.completed | date: "short" }}</td>
      <!-- <td>{{ order.status }}</td> -->
    </tr>
  </tbody>
</table>

<app-pagination
  (onEmitToPage)="handleToPage($event)"
  (onEmitPrevius)="handlePrevius()"
  (onEmitNext)="handleNext()"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [pagesCount]="pagesCount"
  [isLoading]="isLoading"
  [pagesChunk]="pagesChunk"
></app-pagination>
